.App-logo {
    height: 80px;
}

.App-header {
    background-image: url('https://images.unsplash.com/photo-1432059964050-d4eba2ef368a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6e8e41824f404aa1c158ea165764076&auto=format&fit=crop&w=1789&q=80') ;
    height: 300px;
    padding: 20px;
    color: white;
                
}

.App-title {
    font-size: 1.5em;
    margin-top: 30px;
    font-weight: 800;
    text-shadow: 0px 2px 3px rgb(109, 63, 33),
                2px   8px 12px rgb(49, 23, 6);
                 
}

.fa-sun{
    color: yellow;
    margin-top: 30px;
    
}